@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #211d27;
  color: antiquewhite;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.container {
  max-width: 600px;
  margin: 35px auto;
  overflow: auto;
  min-height: 300px;
  border: 3px solid #7dff40;
  padding: 30px;
  border-radius: 5px;
}

.button-add {
  background: #c6ffa8;
  color: #374231;
  text-decoration: none;
  display: inline-block;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-family: 'Ubuntu';
}

.button-add:focus {
  outline: none;
}

.button-add:active {
  transform: scale(0.98);
}

.task {
  background: #29252e;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task.check {
  border-left: 5px solid #c5ff8f;
}

.task h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 35px;
}

.form-control {
  margin: 15px 0;
}

.form-control label {
  display: flex;
}

.form-control input {
  width: 100%;
  height: 35px;
  margin: 3px;
  padding: 3px 7px;
  font-size: 15px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  height: 20px;
}

.form-control .button-block {
  display: flex;
  justify-content: center;
  background-color: #c6ffa8;
  height: auto;
  width: 100%;
  border: none;
  border-radius: 5px;
}





